@tailwind base;
@tailwind components;
@tailwind utilities;
@import './css/spinner.css';

:root {
  --background: #fcfcff;
  --foreground: #17181a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #17181a;
    --foreground: #fcfcff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans;
}

html,
:host {
  @apply leading-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-heading;
}
